// Modules import
@import "modules/homepage/icon/redpacketIcon";



//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

*{
  padding: 0em;
  margin: 0em;
}

html{
  background: #FA8572;
  font-family: 'Fira Sans Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}